<li>
	<h6 class="burgerName">{{burger_name}}</h6>

	<button class="change-scarf" data-id="{{id}}" data-newscarf="{{scarf}}">
		{{#if scarf}}ScarfTheBurger{{else}}UnScarf!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">throwAway</button>
</li>
