<li>
	{{burger_name}}

	<button class="change-scarf" data-id="{{id}}" data-newscarf="{{scarf}}">
		{{#if scarf}}Scarf TIME!{{else}}UnScarf!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
